<app-container>
  <div class="col-md-8">
    <div id="loader" *ngIf="submitting"></div>
    <app-card>
      <div title>Add new author</div>
      <div body>
        <form (submit)="onUserCreate($event)">
          <div class="form-group row">
            <label for="text" class="col-sm-4 col-form-label text-md-right"
              >Name</label
            >
            <div class="col-md-6">
              <input
                id="name"
                type="text"
                name="name"
                autofocus="autofocus"
                class="form-control"
                [(ngModel)]="author.name"
                [class.is-invalid]="form.hasError('name')"
              />
              <span
                *ngIf="form.hasError('name')"
                role="alert"
                class="invalid-feedback"
                ><strong>{{ form.getError('name') }}</strong></span
              >
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label text-md-right"
              >Email</label
            >
            <div class="col-md-6">
              <input
                id="email"
                type="email"
                name="email"
                class="form-control"
                [class.is-invalid]="form.hasError('email')"
                [(ngModel)]="author.email"
              />

              <span
                *ngIf="form.hasError('email')"
                role="alert"
                class="invalid-feedback"
                ><strong>{{ form.getError('email') }}</strong></span
              >
            </div>
          </div>
          <div class="form-group row">
            <label for="address" class="col-sm-4 col-form-label text-md-right"
              >Address</label
            >
            <div class="col-md-6">
              <input
                id="address"
                type="text"
                name="address"
                class="form-control"
                [class.is-invalid]="form.hasError('address')"
                [(ngModel)]="author.address"
              />
              <span role="alert" class="invalid-feedback"
                ><strong>{{ form.getError('address') }}</strong></span
              >
            </div>
          </div>
          <div class="form-group row">
            <label for="info" class="col-sm-4 col-form-label text-md-right"
              >Information</label
            >
            <div class="col-md-6">
              <textarea
                id="info"
                name="info"
                class="form-control"
                [class.is-invalid]="form.hasError('info')"
                [(ngModel)]="author.info"
              >
              </textarea>
              <span role="alert" class="invalid-feedback"
                ><strong>{{ form.getError('info') }}</strong></span
              >
            </div>
          </div>
          <div class="form-group row">
            <label for="image" class="col-sm-4 col-form-label text-md-right"
              >Image</label
            >
            <div class="col-md-6">
              <input
                type="file"
                name="image"
                id="image"
                (change)="handleFileChange($event)"
              />
              <span role="alert" class="invalid-feedback"
                ><strong>{{ form.getError('image') }}</strong></span
              >
            </div>
          </div>

          <div class="form-group row mb-0">
            <div class="col-md-8 offset-md-4">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="submitting"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </app-card>
  </div>
</app-container>
