<div class="main">
  <div class="jumbotron text-center">
    <h1>ngBook App</h1>
    <p class="lead">Learning Angular with laravel</p>
    <div>
      <a class="btn btn-primary mr-2" routerLink="/register"
        >Create new account</a
      >
      <a class="btn btn-success" routerLink="/login">Already have an account</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Laravel</h3>
      <p>Laravel is love.</p>
    </div>
    <div class="col-md-4">
      <h3>Angular-CLI</h3>
      <p>
        Angular-CLI to generate components, services and more. Local dev server
        and easy compilation
      </p>
    </div>
    <div class="col-md-4">
      <h3>Bootstrap</h3>
      <p>Wonderful framework</p>
    </div>
  </div>
</div>
