<app-container>
  <div class="col-md-8">
    <app-card>
      <div title>Create new booker account</div>
      <div body>
        <form (submit)="onUserRegister()">
          <div class="form-group row">
            <label for="text" class="col-sm-4 col-form-label text-md-right"
              >Name</label
            >
            <div class="col-md-6">
              <input
                id="name"
                type="text"
                name="name"
                autofocus="autofocus"
                class="form-control"
                [(ngModel)]="user.name"
                [class.is-invalid]="form.hasError('name')"
              />
              <span
                *ngIf="form.hasError('name')"
                role="alert"
                class="invalid-feedback"
                ><strong>{{ form.getError('name') }}</strong></span
              >
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label text-md-right"
              >Email</label
            >
            <div class="col-md-6">
              <input
                id="email"
                type="email"
                name="email"
                class="form-control"
                [class.is-invalid]="form.hasError('email')"
                [(ngModel)]="user.email"
              />

              <span
                *ngIf="form.hasError('email')"
                role="alert"
                class="invalid-feedback"
                ><strong>{{ form.getError('email') }}</strong></span
              >
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-4 col-form-label text-md-right"
              >Password</label
            >
            <div class="col-md-6">
              <input
                id="password"
                type="password"
                name="password"
                class="form-control"
                [class.is-invalid]="form.hasError('password')"
                [(ngModel)]="user.password"
              />
              <span role="alert" class="invalid-feedback"
                ><strong>{{ form.getError('password') }}</strong></span
              >
            </div>
          </div>
          <div class="form-group row">
            <label
              for="password_confirmation"
              class="col-sm-4 col-form-label text-md-right"
              >Password Confirmation</label
            >
            <div class="col-md-6">
              <input
                id="password_confirmation"
                type="password"
                name="password_confirmation"
                class="form-control"
                [class.is-invalid]="form.hasError('password_confirmation')"
                [(ngModel)]="user.password_confirmation"
              />
              <span role="alert" class="invalid-feedback"
                ><strong>{{
                  form.getError('password_confirmation')
                }}</strong></span
              >
            </div>
          </div>
          <div class="form-group row mb-0">
            <div class="col-md-8 offset-md-4">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
          </div>
        </form>
      </div>
    </app-card>
  </div>
</app-container>
